  .courses {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .category {
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  
  .category-header {
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .category-content {
    padding: 10px;
  }
  
  .course-item {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .course-item:first-child {
    border-top: none;
  }
  .categoryName {
    font-weight: bold;
    background-color: #f5f5f5;
    text-align: left;
  }

  .course-meta {
    color: #666;
  } 
  .coursesContainer {
    background-color: white;
  }