.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-bottom: 10px;
  width: 90%; 
  height: 100%; 
  position: relative;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navIcon {
  font-size: 30px;
  margin-bottom: 5px;
}

.navbar a, .navbar button {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s;
}

.navbar a:not(:last-child),
.navbar button:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); 
}

.navbar a:hover, .navbar button:hover {
  background-color: transparent;
}

.userSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: auto; 
}

.userIcon {
  font-size: 24px;
  margin-right: 10px;
}

.userName {
  font-size: 16px; 
}